[submodule "lilyjazz"]
	path = plugins/lilyjazz
	url = https://github.com/asbjoree/lilyjazz.git
[submodule "lilypond"]
	path = lilypond
	url = git://git.sv.gnu.org/lilypond.git
[submodule "guile"]
	path = guile
	url = git://git.sv.gnu.org/guile.git
[submodule "plugins/lilypond-roman-numeral-tool"]
	path = plugins/lilypond-roman-numeral-tool
	url = https://github.com/davidnalesnik/lilypond-roman-numeral-tool.git
