[submodule "lilyjazz"]
	path = plugins/lilyjazz
	url = https://github.com/asbjoree/lilyjazz.git
[submodule "lilypond"]
	path = lilypond
	url = git://git.sv.gnu.org/lilypond.git
[submodule "guile"]
	path = guile
	url = git://git.sv.gnu.org/guile.git
[submodule "plugins/lilypond-roman-numeral-tool"]
	path = plugins/lilypond-roman-numeral-tool
	url = https://github.com/davidnalesnik/lilypond-roman-numeral-tool.git
[submodule "plugins/lilymusic"]
	path = plugins/lilymusic
	url = https://github.com/wbsoft/lilymusic.git
[submodule "plugins/lilypond-clairnote"]
	path = plugins/lilypond-clairnote
	url = https://gitlab.com/paulmorris/lilypond-clairnote
[submodule "plugins/gonville"]
	path = plugins/gonville
	url = https://github.com/OpenLilyPondFonts/gonville
[submodule "plugins/improviso"]
	path = plugins/improviso
	url = https://github.com/OpenLilyPondFonts/improviso
[submodule "plugins/snippets"]
	path = plugins/snippets
	url = https://github.com/openlilylib/snippets
[submodule "plugins/profondo"]
	path = plugins/profondo
	url = https://github.com/OpenLilyPondFonts/profondo.git
